# Exeter Air Flight Database

In [ ]:
import sqlite3

print (sqlite3.sqlite_version)

In [ ]:
conn = sqlite3.connect('ExeterAir.db')
print(type(conn))

## Enable foreign key constraints
conn.execute("PRAGMA foreign_keys = 1")

cur=conn.cursor()
print(type(cur))

print("Opened database successfully");

In [3]:
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

In [4]:
tables = tables_in_sqlite_db(conn)

print(tables)

[]

## Implement 5 tables from ER diagram

In [5]:
qry='''

CREATE TABLE DEPT_AIRPORT_INFO (
        airportCode   TEXT (3)   PRIMARY KEY,
        airportName   TEXT (50),
        airportCheckIn   INTEGER,
        airportBoarding   INTEGER
    );
CREATE TABLE EA_FLIGHT (
        flightID   INTEGER   PRIMARY KEY,
        flightDist   INTEGER, 
        flightDept   DATETIME,
        flightArr   DATETIME,
        depAirportCode   TEXT (3)   REFERENCES DEPT_AIRPORT_INFO (airportCode),
        arrAirportCode   TEXT (3),
        airplaneID   INTEGER   REFERENCES EA_AIRPLANE (airplaneID)
    );
CREATE TABLE EA_AIRPLANE (
        airplaneID INTEGER   PRIMARY KEY AUTOINCREMENT,
        airplaneModel   TEXT (50),
        airplaneCapacity   INTEGER
    );
CREATE TABLE PASSENGER (
        passengerID     INTEGER     PRIMARY KEY,
        passengerFirstName    TEXT (30),
        passengerLastName   TEXT (30),
        membershipType   TEXT (15),
        passengerAddress   TEXT (50),
        passengerEmail   TEXT (30)   UNIQUE
    );
CREATE TABLE TICKET (
        ticketID     INTEGER     PRIMARY KEY,
        ticketPrice   INTEGER,
        ticketInvoice   INTEGER   UNIQUE,
        passengerID   INTEGER   REFERENCES PASSENGER (passengerID),
        flightID   INTEGER   REFERENCES EA_FLIGHT (flightID)
    );

'''
try:
        cur.executescript(qry)
        print ('Tables created successfully')
except:
        print ('Error in creating tables')

Tables created successfully

In [6]:
#Drop tables if neccessary

# cur.execute("DROP TABLE IF EXISTS DEPT_AIRPORT_INFO;")
# cur.execute("DROP TABLE IF EXISTS EA_FLIGHT;")
# cur.execute("DROP TABLE IF EXISTS EA_AIRPLANE;")
# cur.execute("DROP TABLE IF EXISTS PASSENGER;")
# cur.execute("DROP TABLE IF EXISTS TICKET;")

## Inserting records (Create)

In [7]:
## Populate DEPT_AIRPORT_INFO with records

qry="insert into DEPT_AIRPORT_INFO (airportCode, airportName, airportCheckIn, airportBoarding) values (?,?,?,?);"

airportlist=[('EXT', 'Exeter Airport', 80, 30),
             ('LHR', 'Heathrow Airport', 90, 30),
             ('JFK','John F. Kennedy International Airport',110,45),
             ('NRT','Narita International Airport',70,25),
             ('SXF','Berlin Schoenfeld Airport ',90,40),
             ('BCN','Josep Tarradellas Barcelona-El Prat Airport',120,45),
             ('DBV','Dubrovnik Airport',80,35),
             ('LGW','Gatwick Airport',100,35),
             ('CAI','Cairo International Airport',120,45),
             ('SYD','Sydney Airport',90,30),
             ('EDI','Edinburgh Airport',70,25),
             ('CDG','Charles de Gaulle Airport ',90,35)]


try:
        cur.executemany(qry, airportlist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [8]:
## Populate EA_AIRPLANE with records

qry="insert into EA_AIRPLANE (airplaneID, airplaneModel, airplaneCapacity) values (?,?,?);"

airplanelist=[(1,'Boeing 747-400',524),
              (2,'Boeing 777-300',460),
              (3,'Airbus A340-300',295),
              (4,'Airbus A350-900',310),
              (5,'Boeing 777-300',460),
              (6,'Airbus A340-300',295)]


try:
        cur.executemany(qry, airplanelist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [9]:
## Populate EA_FLIGHT with records

qry="insert into EA_FLIGHT (flightID, flightDist, flightDept, flightArr, depAirportCode, arrAirportCode, airplaneID) values (?,?,?,?,?,?,?);"

flight_list=[(1,700,'01/11/2021  12:00:00','01/11/2021  14:15:00','EXT','BCN',1),
            (2,1049,'01/11/2021  13:30:00','01/11/2021  16:15:00','LHR','DBV',2),
            (3,3461,'13/11/2021  08:15:00','13/11/2021  16:25:00','JFK','LGW',6),
            (4,2287,'14/11/2021  08:00:00','14/11/2021  13:30:00','EXT','CAI',1),
            (5,10559,'20/11/2021  12:00:00','21/11/2021  10:50:00','LHR','SYD',5),
            (6,5745,'20/11/2021  09:00:00','20/11/2021  23:30:00','NRT','EDI',2),
            (7,361,'25/11/2021  19:00:00','25/11/2021  20:25:00','EXT','EDI',3),
            (8,579,'10/12/2021  15:15:00','10/12/2021  17:20:00','SXF','LGW',6),
            (9,292,'11/12/2021  18:30:00','11/12/2021  19:45:00','EXT','CDG',2)]


try:
        cur.executemany(qry, flight_list)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [10]:
## Populate PASSENGER with records

qry="insert into PASSENGER (passengerID, passengerFirstName, passengerLastName, membershipType, passengerAddress, passengerEmail) values (?,?,?,?,?,?);"

passengerlist=[(1,'Millie','Britton','Gold',"'1 Little Castle St, Exeter, EX4 3PX'",'Millie.Britton@hotmail.com'),
               (2,'Andrew','Clear','Bronze',"'1 Summerland St, Exeter, EX1 2AZ'",'Andrew.Clear@hotmail.com'),
               (3,'Alice','Robinson','Gold',"'4 The Quay, Exeter, EX2 4AP'",'Alice.Robinson@hotmail.com'),
               (4,'George','Willis','Silver',"'83-84 Queen St, Exeter, EX4 3RP'",'George.Willis@hotmail.com'),
               (5,'Eloise','Payne','Silver',"'54 Mary Arches St, Exeter, EX4 3AZ'",'Eloise.Payne@hotmail.com'),
               (6,'Saffron','Hill','Silver',"'New N Rd, Exeter, EX4 4AH'",'Saffron.Hill@hotmail.com'),
               (7,'Ewan','Cliffe','Bronze',"'1 Haven Rd, Exeter, EX2 8GR'",'Ewan.Cliffe@hotmail.com'),
               (8,'Christopher','Reid','Gold',"'81-82 Fore St, Exeter EX4 3HR'",'Christopher.Reid@hotmail.com'),
               (9,'Jaxton','Wilton','Bronze',"'36 Victoria St, Exeter, EX4 6JQ'",'Jaxton.Wilton@hotmail.com'),
               (10,'Twila','Munson','Silver',"'1-3 Martins Ln, Exeter, EX1 1EY'",'Twila.Munson@hotmail.com')]

try:
        cur.executemany(qry, passengerlist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [11]:
## Populate TICKET with records

qry="insert into TICKET (ticketID, ticketPrice, ticketInvoice, passengerID, flightID) values (?,?,?,?,?);"

ticketlist=[(35498,150,38952,1,1),
            (65445,1100,68899,9,5),
            (68746,80,72200,1,7),
            (87156,840,90610,4,3),
            (12894,220,16348,2,8),
            (31254,200,34708,8,2),
            (61874,680,65328,6,4),
            (93274,80,96728,6,9),
            (24951,680,28405,7,4),
            (23579,1100,27033,3,5),
            (68423,680,71877,5,4),
            (48515,760,51969,4,6),
            (47852,220,51306,9,8),
            (25845,80,29299,1,9),
            (78542,80,81996,10,9)]
try:
        cur.executemany(qry, ticketlist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

## Query data (Read)

In [12]:
# Basic query to display records from the table EA_FLIGHT (all rows)

# Prepare the query String
qry="select * from EA_FLIGHT;"

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
rows=cur.fetchall()

for row in rows:
    print (row)

(1, 700, '01/11/2021  12:00:00', '01/11/2021  14:15:00', 'EXT', 'BCN', 1)
(2, 1049, '01/11/2021  13:30:00', '01/11/2021  16:15:00', 'LHR', 'DBV', 2)
(3, 3461, '13/11/2021  08:15:00', '13/11/2021  16:25:00', 'JFK', 'LGW', 6)
(4, 2287, '14/11/2021  08:00:00', '14/11/2021  13:30:00', 'EXT', 'CAI', 1)
(5, 10559, '20/11/2021  12:00:00', '21/11/2021  10:50:00', 'LHR', 'SYD', 5)
(6, 5745, '20/11/2021  09:00:00', '20/11/2021  23:30:00', 'NRT', 'EDI', 2)
(7, 361, '25/11/2021  19:00:00', '25/11/2021  20:25:00', 'EXT', 'EDI', 3)
(8, 579, '10/12/2021  15:15:00', '10/12/2021  17:20:00', 'SXF', 'LGW', 6)
(9, 292, '11/12/2021  18:30:00', '11/12/2021  19:45:00', 'EXT', 'CDG', 2)

In [13]:
# Query to display records from the table TICKET for passenger with passengerID = 1 and tickets costing less than 100

# Prepare the query String
qry="select * from TICKET where passengerID = 1 and ticketPrice <= 100;"

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
rows=cur.fetchall()

for row in rows:
    print (row)

(25845, 80, 29299, 1, 9)
(68746, 80, 72200, 1, 7)

In [14]:
# 3 table join to show passengers, flights they have tickets for (depature and arrival airports) and how much each flight cost.
# Order the results by alphabetical order of the first name of passenger

    
# Prepare the query String

qry='''

select
    PASSENGER.passengerFirstName,
    PASSENGER.passengerLastName,
    TICKET.ticketPrice,
    EA_FLIGHT.depAirportCode,
    EA_FLIGHT.arrAirportCode
from PASSENGER
join TICKET on PASSENGER.passengerID = TICKET.passengerID
join EA_FLIGHT on EA_FLIGHT.flightID = TICKET.flightID
order by PASSENGER.passengerFirstName

;
    
'''

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
rows=cur.fetchall()

for row in rows:
    print (row)

('Alice', 'Robinson', 1100, 'LHR', 'SYD')
('Andrew', 'Clear', 220, 'SXF', 'LGW')
('Christopher', 'Reid', 200, 'LHR', 'DBV')
('Eloise', 'Payne', 680, 'EXT', 'CAI')
('Ewan', 'Cliffe', 680, 'EXT', 'CAI')
('George', 'Willis', 760, 'NRT', 'EDI')
('George', 'Willis', 840, 'JFK', 'LGW')
('Jaxton', 'Wilton', 220, 'SXF', 'LGW')
('Jaxton', 'Wilton', 1100, 'LHR', 'SYD')
('Millie', 'Britton', 80, 'EXT', 'CDG')
('Millie', 'Britton', 150, 'EXT', 'BCN')
('Millie', 'Britton', 80, 'EXT', 'EDI')
('Saffron', 'Hill', 680, 'EXT', 'CAI')
('Saffron', 'Hill', 80, 'EXT', 'CDG')
('Twila', 'Munson', 80, 'EXT', 'CDG')

## Update records

In [15]:
# Initial records of price

qry='''

select
    EA_FLIGHT.depAirportCode,
    EA_FLIGHT.arrAirportCode,
    TICKET.ticketPrice
from EA_FLIGHT
join TICKET on EA_FLIGHT.flightID = TICKET.flightID
;
    
'''

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
rows=cur.fetchall()

for row in rows:
    print (row)

('SXF', 'LGW', 220)
('LHR', 'SYD', 1100)
('EXT', 'CAI', 680)
('EXT', 'CDG', 80)
('LHR', 'DBV', 200)
('EXT', 'BCN', 150)
('SXF', 'LGW', 220)
('NRT', 'EDI', 760)
('EXT', 'CAI', 680)
('LHR', 'SYD', 1100)
('EXT', 'CAI', 680)
('EXT', 'EDI', 80)
('EXT', 'CDG', 80)
('JFK', 'LGW', 840)
('EXT', 'CDG', 80)

In [16]:
# Increase price of all flights by 20%


qry='''

update TICKET 
set ticketPrice = ticketPrice*1.2
;
'''

try:
        cur.execute(qry)
        print ('Prices updated!')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Prices updated!

## Delete Records

In [17]:
# Delete the flight with flightID=1

qry='''

delete from EA_FLIGHT
where flightID = 1
;
'''

try:
        cur.execute(qry)
        print ('Flight Deleted')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Error in update operation .. rollback

#### Foreign key constraint has disabled flightID = 1 from EA_FLIGHT from being deleted since child records exist in Ticket. 

#### Now let's try and delete airplaneID = 4 from EA_AIRPLANE. Since it has no child records it can be deleted

In [18]:
# Delete the plane with airplaneID = 4

qry='''

delete from EA_AIRPLANE
where airplaneID = 4
;
'''

try:
        cur.execute(qry)
        print ('Airplane Deleted')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Airplane Deleted

## NoSQL Ticket Database - Redis

In [19]:
import pandas as pd
import random

In [21]:
# Import Redis package
import redis

# Main class Redis() which you use to execute Redis commands (the port and db=0 are default values)
# Localhost = 127.0.0.1
r = redis.Redis(host='localhost', port=6379, db=11, charset="utf-8", decode_responses=True)

# Check database connection -will return true if successful
print(r.ping())

True

#### In order to get the data required for each flight we need to use a join

In [22]:
qry='''

select
    EA_FLIGHT.flightID,
    TICKET.ticketPrice,
    EA_AIRPLANE.airplaneCapacity
from EA_AIRPLANE
join EA_FLIGHT on EA_AIRPLANE.airplaneID = EA_FLIGHT.airplaneID
join TICKET on EA_FLIGHT.flightID = TICKET.flightID
;
    
'''

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
flight_data=cur.fetchall()

for row in flight_data:
    print (row)

(8, 264, 295)
(5, 1320, 460)
(4, 816, 524)
(9, 96, 460)
(2, 240, 460)
(1, 180, 524)
(8, 264, 295)
(6, 912, 460)
(4, 816, 524)
(5, 1320, 460)
(4, 816, 524)
(7, 96, 295)
(9, 96, 460)
(3, 1008, 295)
(9, 96, 460)

#### Use pandas to turn into a dataframe and clean data into syntax for input to redis

In [23]:
# Turn into pandas dataframe 
df = pd.DataFrame(flight_data)

# Rename the header
df.columns = ['flightID', 'Price', 'N_Available']

# Remove duplicate rows
df = df.drop_duplicates()

# Insert new column called N_Sold with initial value of 0
df['N_Sold'] = [0]*len(df.index)

# Change values in flightID to include 'EA_Flight: '
df['flightID'] = 'EA_Flight:' + df['flightID'].astype(str)

# Set index of dataframe to be flightID
df = df.set_index('flightID')

# Transform to dictionary class
df = df.to_dict('index')

# Check output 
df

{'EA_Flight:8': {'Price': 264, 'N_Available': 295, 'N_Sold': 0},
 'EA_Flight:5': {'Price': 1320, 'N_Available': 460, 'N_Sold': 0},
 'EA_Flight:4': {'Price': 816, 'N_Available': 524, 'N_Sold': 0},
 'EA_Flight:9': {'Price': 96, 'N_Available': 460, 'N_Sold': 0},
 'EA_Flight:2': {'Price': 240, 'N_Available': 460, 'N_Sold': 0},
 'EA_Flight:1': {'Price': 180, 'N_Available': 524, 'N_Sold': 0},
 'EA_Flight:6': {'Price': 912, 'N_Available': 460, 'N_Sold': 0},
 'EA_Flight:7': {'Price': 96, 'N_Available': 295, 'N_Sold': 0},
 'EA_Flight:3': {'Price': 1008, 'N_Available': 295, 'N_Sold': 0}}

### Create data and pipe into redis database

In [24]:
with r.pipeline() as pipe:
    for flight_id, EA_Flight in df.items():
        pipe.hmset(flight_id, EA_Flight)
    pipe.execute()

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
r.bgsave()

True

### Query data (Read)

In [26]:
# Read all data with a key beginning with EA_Flight using pattern matching

r.keys("EA_Flight*")

['EA_Flight:1',
 'EA_Flight:2',
 'EA_Flight:3',
 'EA_Flight:4',
 'EA_Flight:5',
 'EA_Flight:6',
 'EA_Flight:7',
 'EA_Flight:8',
 'EA_Flight:18',
 'EA_Flight:9']

In [27]:
# Read hash with key value "EA_Flight:1"

print(r.hgetall("EA_Flight:6"))

{'Price': '912', 'N_Available': '460', 'N_Sold': '0'}

### Update data

In [28]:
# Update the price of EA_Flight:6 to 1000

r.hset("EA_Flight:6", 'Price', 1000)

0

In [29]:
# Rename EA_Flight:7 to EA_Flight:18
r.rename("EA_Flight:7", "EA_Flight:18")

True

### Delete data

In [30]:
# Delete the Price value of EA_Flight:6

r.hdel("EA_Flight:6", 'Price')

1

In [31]:
# Delete the "EA_Flight:6" key

r.delete("EA_Flight:6")

1

## Implement Polyglot Persistence

In [32]:
# Checks the RDBMS to see if there is a tiket for the flight that the passenger has already purchased.
# It works by taking the length of the number of rows returned by sqlite3 and adding them onto the variable x
# If there is no ticket then there are no rows, x remains 0 and False is returned
# If there is a ticket then x = 1 and True is returned

def TicketExists(passengerid, flightid):
    
    x = 0
    
    # Prepare the query String
    qry="select * from TICKET where passengerID = ? and flightID = ?;"

    # Execute query on SQLite
    cur.execute(qry, (passengerid, flightid))

    # Fetch and display all rows
    rows=cur.fetchall()
    
    x =+ len(rows)
    
    if x > 0:
        return True
    else:
        return False

In [33]:
# Automates the adding of a record to the RDBMS Ticket table

def AddTicket(passengerID, flightID, ticketPrice):
    
    qry = "insert into TICKET (ticketPrice, ticketInvoice, passengerID, flightID) values (?,?,?,?);"

    try:
            cur.execute(qry, (ticketPrice, random.getrandbits(20), passengerID, flightID))
            print ('New booking made')
            conn.commit()
    except:
            print ('Error in adding booking .. rollback')
            conn.rollback()

In [34]:
# Alters Redis database. First checks if there are any seats remaining. If there are then it alters the number of seats
# available and number of seats sold. If any errors are flagged (for example by simultaneous purchase) then the 
# process is tried again. If statement contains the AddTicket function to execute together

import logging

logging.basicConfig()

class OutOfStockError(Exception):
    """Raised when all flights have been booked"""

def buyitem(r: redis.Redis, itemid: int, inputPassengerID, FindflightID, FindticketPrice) -> None:
    with r.pipeline() as pipe:
        error_count = 0
        while True:
            try:
                # Get available inventory, watching for changes
                # related to this itemid before the transaction
                pipe.watch(itemid)
                nleft = int(r.hget(itemid, "N_Available"))
                if nleft > 0:
                    pipe.multi()
                    pipe.hincrby(itemid, "N_Available", -1)
                    pipe.hincrby(itemid, "N_Sold", 1)
                    pipe.execute()
                    AddTicket(inputPassengerID, FindflightID, FindticketPrice)
                    break
                else:
                    # Stop watching the itemid and raise to break out
                    pipe.unwatch()
                    raise OutOfStockError(
                        f"Sorry, {itemid} is all booked up!"
                    )
            except redis.WatchError:
                # Log total num. of errors by this user to buy this item,
                # then try the same process again of WATCH/HGET/MULTI/EXEC
                error_count += 1
                logging.warning(
                    "WatchError #%d: %s; retrying",
                    error_count, itemid
                )
    return None

In [35]:
# Brings together the previous functions to enable bookings to be made with both databases consulted and updated 
# in one function

def completebooking(r: redis.Redis, flight: int):
    
    inputPassengerID=int(input('Enter passengerid:'))
    FindticketPrice=int(r.hmget(flight, "Price")[0])
    FindflightID=int(flight.split("EA_Flight:",1)[1])
    
    if TicketExists(inputPassengerID, FindflightID) == False:
        buyitem(r, flight, inputPassengerID, FindflightID, FindticketPrice)
        print("Ticket added to RDBMS and passenger booked onto flight!")
    else:
        print("Sorry this passenger is already booked onto the flight!")

In [36]:
print(r.hgetall("EA_Flight:1"))

{'N_Sold': '0', 'Price': '180', 'N_Available': '524'}

#### Play around with function below to see ticketing system in action. The join 2 cells down shows flightId and passengerID so you can see if a passenger is already booked onto the flight

In [37]:
completebooking(r, "EA_Flight:1")

Enter passengerid:2
New booking made
Ticket added to RDBMS and passenger booked onto flight!

In [38]:
qry='''

select
    EA_FLIGHT.flightID,
    PASSENGER.passengerID
from EA_FLIGHT
join TICKET on EA_FLIGHT.flightID = TICKET.flightID
join PASSENGER on TICKET.passengerID = PASSENGER.passengerID
order by EA_FLIGHT.flightID
;
    
'''

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
flight_data=cur.fetchall()

for row in flight_data:
    print (row)

(1, 1)
(1, 2)
(2, 8)
(3, 4)
(4, 7)
(4, 6)
(4, 5)
(5, 3)
(5, 9)
(6, 4)
(7, 1)
(8, 2)
(8, 9)
(9, 1)
(9, 10)
(9, 6)

In [39]:
r.bgsave()

True

In [40]:
r.connection_pool.disconnect()

In [41]:
conn.close()